@font-face {
    font-family: VCR;
    src: url(../../assets/fonts/VCR_OSD_MONO_1.001.ttf);
  }

#menu{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#projectOverview{
    display: flex;
    width: 44vw;
    height: 60vh;
    margin-left: 14vw;
    background-color: #131313;
    justify-content: center;
    align-items: end;
    position: relative;
    box-shadow: 0 0 15px #131313;
}

.projectHeading{
    position: absolute;
    margin: 0;
    color: #FF8B40;
    font-family: VCR;
    font-weight: lighter;
    padding: 15px 20px 15px 20px;
    border: solid #FF8B40 3px;
    background-color: rgba( 255, 139, 64, 0.2);
    box-shadow: 0 0 30px rgba( 255, 139, 64, 0.3);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#projectHeadingTop{
    top: -25px;
    left: -15px;
    font-size: 1.2em;
    padding: 15px 20px 15px 20px;
}

#projectHeadingBottom{
    bottom: -25px;
    right :50px;
    font-size: 1em;
    padding: 12px 20px 12px 20px;
}

#projectImage{
    width: 12vw;
    height: auto;
    display: block;
    margin: auto auto auto auto;
}

#projectText{
    color: white;
    background-color: #131313;
    margin: 0;
}

#projectList{
    display: grid;
    height: 60vh;
    width:21vw;
    margin-right: 14vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #131313;
    position: relative;
    box-shadow: 0 0 15px #131313;
    justify-items: center;
    align-items: center;
    gap: 0;
}

.listImage{
    height: 14vh;
}

#project1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: -10px;
}

#project2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: -10px;
}

#project3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: -10px;
}