@font-face {
  font-family: Geist Mono;
  src: url(../assets/fonts/GeistMono-Regular.otf);
}

body{
  background-image: url("../assets/images/GrainyBackground.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
}

.content{
  margin-top: 15vh;
}

p{
  font-family: Geist Mono;
}
