@font-face {
    font-family: VCR;
    src: url(../assets/fonts/VCR_OSD_MONO_1.001.ttf);
  }

a{
    text-decoration: none;
    color: inherit;
}

#navbar{
    overflow: hidden;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: VCR;
    color: white;
    top: 0px;
}

#leftNav{
    left: 100px;
    margin-top: 40px;
    margin-left: 100px;
}

#rightNav{
    display: flex;
    gap: 70px;
    right: 100px;
    margin-top: 40px;
    margin-right: 100px;
}